.header__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  margin-bottom: 5rem;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
}
