.container-ptitle {
  height: 70vh;
  background-color: $gray-400;
}

.container-blogs {
  padding-bottom: 8rem;
  padding-top: 8rem;
  background-color: $gray-100;
}

.container-comments {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container-form {
  background-color: $gray-200;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container-postnav {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.capital {
  font-weight: 600;
  line-height: 2.4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  &__2 {
    font-size: 1.4rem;
    text-transform: none;
  }
}

.blogs-stitle {
  margin-bottom: 4rem;
  padding-top: 2rem;
}

.nav {
  &__prev {
  }

  &__mid {
    text-align: center;
  }

  &__next {
    display: flex;
    float: right;
  }
}

.c0 {
  border: 0px;
}

.comments__img-box {
  background-color: gray;
  vertical-align: middle;
  margin: auto;
  margin-right: 15px;
}

.comments__img-box2 {
  background-color: gray;
  margin-top: 2.8%;
}
